@if (hero) {
  <div>
    <h2>{{ hero.name | uppercase }} Details</h2>
    <div>
      <span>
        <img ngSrc="{{ hero.image}}" alt="" width="100" height="100"/>
      </span>

    </div>
    <div><span>id: </span>{{ hero.id }}</div>

    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>

    <button type="button" (click)="goBack()">Go Back</button>
    <button type="button" (click)="save()">Save</button>
  </div>
}

